@using MudBlazor 

<div class="user-profile-fields-container">
            <MudTextField T="string" Class="white-bg" Label="Company Name" Variant="Variant.Outlined" Text="Lulu Hypermarket" ReadOnly="true" />

            <MudTextField T="string" Class="white-bg" Label="Country" Variant="Variant.Outlined"Text="Qatar" ReadOnly="true" />

            <MudTextField T="string"  Class="white-bg"Label="City" Variant="Variant.Outlined"Text="Doha" ReadOnly="true" />

            <MudTextField T="string" Class="white-bg" Label="Location" Variant="Variant.Outlined"Text="West Bay" ReadOnly="true" />

            <MudTextField T="string" Class="white-bg" Label="Phone Number" Variant="Variant.Outlined"Text="+974 2234 5675" ReadOnly="true" />

            <MudTextField T="string" Class="white-bg" Label="WhatsApp Number" Variant="Variant.Outlined" Text="+974 2234 5675" ReadOnly="true" />

            <MudTextField T="string" Class="white-bg" Label="Website URL" Variant="Variant.Outlined" Text="www.website.com" ReadOnly="true" />

            <MudTextField T="string"  Class="white-bg"Label="Operating Hours" Variant="Variant.Outlined"Text="Sunday - Thursday, 8:00 AM - 5:00 PM" ReadOnly="true" />
            <MudTextField T="string"Class="white-bg" Label="Nature of Business" Variant="Variant.Outlined" Text="Hypermarket" ReadOnly="true" />

            <MudTextField T="string" Class="white-bg" Label="Company Size" Variant="Variant.Outlined" Text="500+" ReadOnly="true" />

            <MudTextField T="string" Class="white-bg" Label="Company Type" Variant="Variant.Outlined" Text="MNC" ReadOnly="true" />

</div>

<style>
    .user-profile-fields-container{
        width: 100%;
        max-width: 472px;
    }
    .white-bg input,
    .white-bg textarea,
    .white-bg .mud-input,
    .white-bg .mud-select,
    .white-bg .mud-select-input,
    .white-bg .mud-input-slot {
        background-color: white !important;
    }
</style>