@page "/manage/classified/items/verification/preview/{UserId:int}"
@inherits VerificationPreviewBase

<div >
    <VerificationActions />

    <MudGrid>
        <MudItem xs="12" md="3">
            <UserImageCard ImageUrl="/qln-images/user_image.svg" />
        </MudItem>
        <MudItem xs="12" md="8">
            <UserProfileFields />
        </MudItem>
    </MudGrid>
</div>