@using MudBlazor
@inherits VerificationActionsBase

<div class="verification-preview-container">
    <!-- Top section with icon and heading -->
    <div class="verification-header">
        <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowLeft"  OnClick="GoBack"  Color="Color.Default" />
        <h4 class="verification-title">Verification Preview</h4>
    </div>

    <!-- Action buttons -->
    <div class="verification-actions">
        <MudButton Class="flat-btn" Color="Color.Primary" Variant="Variant.Filled" OnClick="@NeedChangesAsync">Need Changes</MudButton>
        <MudButton Class="flat-btn" Color="Color.Error" Variant="Variant.Filled" OnClick="@RejectAsync">Reject</MudButton>
        <MudButton Class="flat-btn" Color="Color.Success" Variant="Variant.Filled" OnClick="@ApproveAsync">Approve</MudButton>
    </div>
</div>