@using QLN.ContentBO.WebUI.Models;

<MudGrid >
    <!-- Left Form Section -->
    <MudItem xs="12" md="12">
            <div class="reports">
              <ReportsForm/>
             </div> 
    </MudItem>
</MudGrid>