@using MudBlazor

@if (IsVisible)
{
    <div style="position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,0.6);
                z-index: 9999;
                display: flex;
                align-items: center;
                justify-content: center;">
        <MudProgressCircular Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }
}
