@page "/manage/banner"
@inherits ManageBannerBase
<MudGrid Style="padding-top: 18px">
    <MudItem xs="12" md="12">
        <h2 class="main-title-name-style">Manage Banner</h2>
        <MudTabs ActivePanelIndex="@activeIndex"
                 ActivePanelIndexChanged="OnTabChanged"
                 Rounded="false"
                 Centered="false"
                 ScrollButtons="ScrollButtons.Auto"
                 Scrollable="true"
                 Class="daily-custom-tabs"
                 Style="background-color: #FAFAFA;"
                 DisableSlideAnimation="true">

            <MudTabPanel Text="Content" />
            <MudTabPanel Text="Classifieds" />
            @if (SelectedTab == ManageBannerTab.Content)
            {
                @("Manage Content Banner")
            }
            else if (SelectedTab == ManageBannerTab.Classifieds)
            {
                @("Manage Classifieds Banner")
            }
        </MudTabs>
    </MudItem>
</MudGrid>
