@page "/blazormarkdown"
@using System.Text
@using QLN.ContentBO.WebUI.Components
@using QLN.ContentBO.WebUI.Interfaces
@using System.Net
@using QLN.ContentBO.WebUI.Models
@using System.Text.Json
@inject IJSRuntime JS
@inject ISnackbar Snackbar
@inject IFileUploadService fileUploadService
@inherits QLComponentBase

<MudGrid Style="padding-top: 18px">
    <MudItem>
        <MudText Typo="Typo.h4">Blazor Markdown Editor with Image Paste</MudText>
        <div id="pasteTarget" @ref="divRef">
            Click here and press Ctrl + V to paste image
            <MarkdownEditor @bind-Value="@markdownValue" ValueHTMLChanged="@OnMarkdownValueHTMLChanged" @ref="Markdown1" />
        </div>
        <hr />
    </MudItem>
    <MudItem>

        <h3>Result</h3>
        <MudText Typo="Typo.body1">Markdown Value:</MudText>
        @((MarkupString)markdownHtml.ToString())

        <hr />
        <MudText Typo="Typo.body1">Uploaded Image:</MudText>
        @if (!string.IsNullOrEmpty(PastedImage))
        {
            <img src="@PastedImage" alt="Pasted" style="max-width: 300px;" />
        }
        <br />
    </MudItem>
</MudGrid>


@code {
    MarkdownEditor Markdown1;
    private string? PastedImage;

    string markdownValue = "Test";
    string markdownHtml = string.Empty;

    private ElementReference divRef;
    private DotNetObjectReference<TestComponent>? _objRef;
    private string base64Image = string.Empty;

    protected FileUploadModel fileUploadModel { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _objRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("pasteImageHandler.register", "pasteTarget", _objRef);
        }
    }

    Task OnMarkdownValueChanged(string value)
    {
        return Task.CompletedTask;
    }

    Task OnMarkdownValueHTMLChanged(string value)
    {
        markdownHtml = string.Empty;
        markdownHtml = value;
        return Task.CompletedTask;
    }

    [JSInvokable]
    public async Task OnImagePasted(string base64)
    {
        try
        {
            base64Image = string.Empty;
            PastedImage = string.Empty;
            fileUploadModel = new FileUploadModel();
            if (string.IsNullOrEmpty(base64))
            {
                Snackbar.Add("No image data found", Severity.Error);
                return;
            }
            base64Image = base64;
            fileUploadModel.Container = "content-images";
            fileUploadModel.File = base64Image;

            var fileUploadResponse = await UploadFile(fileUploadModel);
            if (fileUploadResponse?.IsSuccess == true)
            {
                PastedImage = fileUploadResponse.FileUrl;
                var imageMarkdown = $"\n![image-{fileUploadResponse.FileName}]({fileUploadResponse.FileUrl})";
                markdownValue += imageMarkdown;
                await Markdown1!.SetValueAsync(markdownValue);

                base64Image = string.Empty;
            }
            else
            {
                Snackbar.Add(fileUploadResponse?.Message ?? "Image upload failed", Severity.Error);
            }



            StateHasChanged();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error in OnImagePasted");
        }
    }

    public void Dispose()
    {
        _objRef?.Dispose();
    }

    protected async Task<FileUploadResponse> UploadFile(FileUploadModel fileUploadData)
    {
        var response = await fileUploadService.UploadFileAsync(fileUploadData);
        var jsonString = await response.Content.ReadAsStringAsync();
        if (response != null && response.IsSuccessStatusCode)
        {
            var result = JsonSerializer.Deserialize<FileUploadResponse>(jsonString, new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            });
            return result ?? new();
        }
        else if (response?.StatusCode == HttpStatusCode.BadRequest)
        {
            Snackbar.Add($"Bad Request: {jsonString}", Severity.Error);
        }
        else if (response?.StatusCode == HttpStatusCode.Unauthorized)
        {
            Snackbar.Add("You are unauthorized to perform this action", Severity.Error);
        }
        else if (response?.StatusCode == HttpStatusCode.InternalServerError)
        {
            Snackbar.Add("Internal API Error", Severity.Error);
        }

        return new();
    }

}