@page "/qln/dashboard/company/edit/{id}"
@inject ISnackbar Snackbar

@using QLN.Web.Shared.Components.BreadCrumb


<div style=" background-color: #F2F4F7; height: 100%;width:100%;padding: 24px;">
    <div Class=" mt-1 ml-10">
        <Breadcrumb Items="breadcrumbItems" />

    </div>

    
</div>



