@page "/classifieds"
@using MudBlazor
@using QLN.Web.Shared.Components.Carousel
@using QLN.Blazor.Base.Components.Pages.Classifieds.Components

<!-- Navigation Tabs -->
<NavigationTabs />

<!-- Carousel Banner -->
<div style="width: 100%;">
    <CarouselBanner ImageUrls="carouselImages"
                    ShowArrows="true"
                    EnableSwipeGesture="false"
                    AutoCycle="true"
                    Transition="Transition.Slide" />
</div>

<!-- Search Bar Section -->
<SearchBarSection />

<!-- Featured Categories Section -->
<FeaturedCategoriesSection />

<!-- Featured Cards Section -->
<FeaturedCardsSection />

<!-- Store Deals Section -->
<StoreDealsSection />

<!-- Social Media -->
<SocialMediaCard />

<!-- FAQs Section -->
<FAQsSection />

@code {
    private List<string> carouselImages = new()
    {
        "images/category1.png",
        "images/category1.png",
        "images/category1.png"
    };
}