@using MudBlazor;
@inherits DailyNewsCardBase

<div class="daily-news-card @(IsHorizontal ? "horizontal" : "")">
    <img src="@Item.ImageUrl" alt="News Image" class="daily-news-image" />
    <div class="daily-news-content">
        <div class="news-title">@Item.Title</div>
    </div>
</div>

<style>
    .daily-news-card {
        display: flex;
        border-radius: 12px;
        overflow: hidden;
        font-family: 'Public Sans', sans-serif;
        width: 100%;
        max-width: 240px;
        flex-direction: column;
    }

    .news-card.horizontal {
        flex-direction: column;
        height: 100%;
        max-width: 214px;
    }

    .daily-news-image {
        width: 100%;
        height: 140px;
        border-radius: 12px;
        object-fit: cover;
    }

    .news-card.horizontal .daily-news-image {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }

    .daily-news-content {
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .category {
        color: #FF7F38;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .news-title {
        font-size: 16px;
        font-weight: 600;
        font-family: 'Public Sans';
        color: var(--color-text-heading);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @@media (max-width: 768px) {
        .daily-news-card {
            flex-direction: row;
            max-width: 100%;
            padding: 10px;
        }

        .daily-news-card.horizontal {
            flex-direction: column;
            height: auto;
        }

        .daily-news-image {
            height: 100px;
            width: 177px;
        }

        .news-title {
            color: var(--color-text-heading);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* Limit to 2 lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }
</style>
