@page "/qln/classifieds/deals/details"

@using MudBlazor
@using QLN.Web.Shared.Pages.Classifieds.Deals.Components
@using QLN.Web.Shared.Pages.Classifieds.Deals.Components
@layout ClassifiedsLayout

<div style="width: 100%; background-color: var(--color-secondary-background);">
    
    <SearchSectionDeals />

    <div style="width: 100%;">
        <div class="category-banner-wrapper">
            <img src="/qln-images/Classifieds/deals_banner.svg"
                 alt="Category Banner"
                 class="category-banner-image" />
        </div>

        <!-- OVERLAY using translateY -->
        <div class="item-card-wrapper">
            <ItemCard />
        </div>

        <div class="item-list-container">
            <IteamListDeals />
        </div>
    </div>
</div>

<style>
   .category-banner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}
.item-list-container{
    padding-top: 20px; 
    padding: 0px 20px;
}

.category-banner-image {
    width: 100%;
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
}

.item-card-wrapper {
    margin-top: -50px; /* Controls overlap */
    z-index: 1;
    position: relative;
    padding: 0px 20px;
}

/* Optional: Adjust overlap on smaller screens */
@@media (max-width: 768px) {
    .item-card-wrapper {
        margin-top: -50px;
        padding: 0px 20px;
    }
}
@@media (max-width: 560px) {
    .item-card-wrapper {
        margin-top: -70px;
        padding: 0px 20px;
        padding-bottom: 20px;
    }
    .category-banner-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }
}

</style>