@page "/qln/classifieds/deals"

@using MudBlazor
@using QLN.Web.Shared.Pages.Classifieds.Deals.Components
@layout ClassifiedsLayout

<div style="width: 100%; background-color: var(--color-secondary-background);">
 <div class="search-section-container">
    <div class="max-container">
    <SearchSectionDeals />
 </div>
</div>

    <div class="max-container">
        <div class="category-banner-wrapper">
            <img src="/qln-images/banner_image.svg" alt="Category Banner" class="category-banner-image" />
        </div>
        <FeaturedStores />

        <ItemListDeals />

    </div>
</div>

