@page "/dashboard"
@inherits DailyLivingBase
@using QLN.ContentBO.WebUI.Components.EmptyCard
@using QLN.ContentBO.WebUI.Models
@using QLN.ContentBO.WebUI.Components.DailyLiving.MudArticleTable;
@using QLN.ContentBO.WebUI.Pages.EventsPage;
@using QLN.ContentBO.WebUI.Pages.DailyLiving.Components;
<MudGrid Style="padding-top: 18px">
    <!-- Left Form Section -->
    <MudItem xs="12" md="12">
        <h2 class="main-title-name-style">Daily Living</h2>
        @if(isTabLoading){
            <div style="display: flex; gap: 16px; align-items: center;">
                <MudSkeleton Width="150px" Height="70px" Animation="Animation.Pulse" Variant="Variant.Rect" />
                <MudSkeleton Width="150px" Height="70px" Animation="Animation.Pulse" Variant="Variant.Rect" />
                <MudSkeleton Width="150px" Height="70px" Animation="Animation.Pulse" Variant="Variant.Rect" />
                <MudSkeleton Width="150px" Height="70px" Animation="Animation.Pulse" Variant="Variant.Rect" />
                <MudSkeleton Width="150px" Height="70px" Animation="Animation.Pulse" Variant="Variant.Rect" />
                <MudSkeleton Width="150px" Height="70px" Animation="Animation.Pulse" Variant="Variant.Rect" />
            </div>
        }
        else{
            <MudTabs ActivePanelIndex="@activeIndex"
                 ActivePanelIndexChanged="OnTabChanged"
                 Rounded="false"
                 Centered="false"
                 ScrollButtons="ScrollButtons.Auto"
                 Scrollable="true"
                 Class="daily-custom-tabs"
                 Style="background-color: #FAFAFA;"
                 DisableSlideAnimation="true">

            <MudTabPanel Text="Top Section" />
            <MudTabPanel Text="Featured Events" />
            @foreach (var topic in ActiveTopics)
            {
                <MudTabPanel Text="@topic.topicName">
                </MudTabPanel>
            }
        </MudTabs>
        }
         @if (SelectedTab == DailyLivingTab.FeaturedEvents)
        {
            if (featuredEventSlots is null || !featuredEventSlots.Any())
            {
                <EmptyCard Title="No Featured Events Found"
                           Subtitle="Please check back later." />
            }
            else
            {
                <FeaturedEventSlotsList IsLoadingEvent="IsLoadingEvent"
                                        FeaturedEventSlots="featuredEventSlots"
                                        Categories="Categories"
                                        ReplaceSlot="ReplaceEventSlot"
                                        OnDelete="DeleteEventOnClick" />
            }
        }
        else if(SelectedTab == DailyLivingTab.TopSection)
        {
            <MudArticleTable Articles="articles" ReplaceItem="ReplaceTopSectionItem" IsLoadingEvent="isTabLoading"/>
        }
        else if(SelectedTab != DailyLivingTab.TopSection){
            <DailyTopicsTable 
                ReplaceSlot="ReplaceSlotHandler"
                OnDelete="DeleteSlotHandler"
                IsLoadingEvent="IsLoading"
                articles="articles"
                UpdateEvent="UpdateHandler"
                RenameTopic="RenameHandler"
                AddItem="AddItemtHandler"
                Categories="Categories"
                selectedTopic="selectedTopic"
                activeIndex="activeIndex"
                ReplaceItem="ReplaceItem"
                />
        }
    </MudItem>
</MudGrid>

