@inherits RejectVerificationDialogBase

<MudDialog Class="pa-2 custom-dialog">
    <DialogContent>
        <div class="d-flex justify-center">
             <img class="warning-icon-circle" src="/qln-images/waring_icon.svg" alt="go-live Image" />
        </div>

        <MudText Align="Align.Center" Class="mt-4 mb-2 title-style">
            @Title
        </MudText>

        <MudTextField @bind-Value="Reason"
                      Label="Reason for Rejection*"
                      Placeholder="@Description"
                      Variant="Variant.Outlined"
                      MaxLength="50"
                      Immediate="true"
                      Lines="1"
                      Class="mt-4" />

        <div class="mt-4 d-flex flex-column gap-2">
            <MudButton Variant="Variant.Filled"
                       Disabled="@IsConfirmDisabled"
                       Class="custom-add-btn"
                       OnClick="Confirm">
                 @if (IsLoading)
                {
                     <MudProgressCircular Color="Color.Inherit" Size="Size.Small"Indeterminate="true" />
                }
                else
                {

                @ButtonTitle
                }
            </MudButton>

            <MudButton Variant="Variant.Outlined" OnClick="Cancel" Class="custom-close-btn">
                Close
            </MudButton>
        </div>
    </DialogContent>
</MudDialog>

<style>
    .title-style {
        font-family: 'Public Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #242424;
    }

    .custom-add-btn {
        background-color: #FF7F38;
        font-size: 16px;
        font-weight: 400;
        color: white;
        text-transform: none;
    }
    .warning-icon-circle {
        width: 60px;
        height: 60px;
    }

    .custom-close-btn {
        border-color: #D5D7DA;
        font-size: 16px;
        font-weight: 400;
        color: #242424;
        text-transform: none;
    }

    .custom-dialog {
        width: 400px;
        max-width: 90vw;
    }

    .warning-icon {
        font-size: 48px;
    }


</style>
