:root {
    /* Brand Colors */
    --color-primary: #00426D;
    --color-secondary: #FF7F38;

    /* Text Colors */
    --color-heading: #181D27;
    --color-caption: #646464;
    --color-outline: #D0D5DD;
    --color-placeholder: #787878;

    /* UI Colors */
    --color-text-secondary:#999999;
    --color-container:#F9F9F9;
    --color-indicator:#FFA726;
    --color-indicator-secondary:#F0F0F0;
    --color-background:#F5F6FA;
}