:root {
    /* Brand Colors */
    --color-primary: #00426D;
    --color-secondary: #FF7F38;

    /* Text Colors */
    --color-heading: #181D27;
    --color-caption: #646464;
    --color-outline: #D0D5DD;
    --color-placeholder: #787878;

    /* UI Colors */
    --color-text-secondary:#999999;
    --color-container:#F9F9F9;
    --color-indicator:#FFA726;
    --color-indicator-secondary:#F0F0F0;
    --color-background:#F5F6FA;
    --color-button-secondary:#01416D;
}

.subscription-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid #f4f4f4;
    border-radius: 8px;
    transition: box-shadow 0.2s;
    cursor: pointer;
}

    .subscription-card:hover {
        box-shadow: 0 0 12px rgba(0,0,0,0.1);
    }

.card-top {
    text-align: center;
    margin-bottom: 16px;
}

.title-text {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 8px;
    color: #172B4D;
}

.price-section {
    background-color: #FBE7C6;
    text-align: center;
    padding: 12px 0;
    border-radius: 4px;
    margin-bottom: 12px;
}

.from-text {
    font-size: 0.8rem;
    color: #999;
}

.price-text {
    color: #F26D1E;
    font-weight: bold;
}

.duration-text {
    font-size: 0.75rem;
    color: #444;
}

.feature-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}

.feature-item {
    color: #172B4D;
    font-size: 0.85rem;
}
