@page "/manage/classified/stores/view/stores"
@inherits ViewStoresBase
@using QLN.ContentBO.WebUI.Models;
@using MudBlazor
@layout StoresLayout

<MudGrid Style="padding-top: 18px">
    <MudItem xs="12" md="12">
        <StoresSearchSortBar OnSearch="HandleSearch" OnSort="HandleSort" />
        <div class="community-table">
        <ViewStoreTable Listings="@StoreItems"
            TotalCount="@TotalCount"
            CurrentPage="@currentPage"
            PageSize="@pageSize"
            OnPageChange="HandlePageChange"
            OnPageSizeChange="HandlePageSizeChange"
            OnViewClicked="OnViewClicked" />
        </div>
    </MudItem>
</MudGrid>