@using MudBlazor
@inherits AutoSelectDialogBase

<MudDialog Class="pa-4 custom-dialog">
    <DialogContent>

        <div class="d-flex justify-center mb-4">
            <img class="icon-circle" src="/qln-images/search.svg" alt="search" />
        </div>

        <MudText Align="Align.Center" Class="title-style mb-3">
            @Title
        </MudText>

        <MudAutocomplete
            TItem="TItem"
            Label="@Label"
            Variant="Variant.Outlined"
            @bind-Value="SelectedItem"
            Placeholder="Search user (min 3 letters)"
            @bind-SearchText="_searchText"
            Adornment="Adornment.None"
            SearchFunc="SearchItems"
            ToStringFunc="@(item => item?.Label ?? string.Empty)"
            ResetValueOnEmptyText="true"
            CoerceText="true"
            Clearable="true"
            MaxLength="50"
            OnSearchTextChanged="ValidateTypedText">
            <ItemTemplate Context="item">
                <MudText>@item.Label</MudText>
            </ItemTemplate>
        </MudAutocomplete>

        @if (!string.IsNullOrEmpty(_autocompleteError))
        {
            <div class="mud-error-text">@_autocompleteError</div>
        }

        <div class="mt-4 d-flex flex-column gap-2">
            <MudButton Variant="Variant.Filled" Class="custom-add-btn" Color="Color.Primary" OnClick="AddClicked">
                @ButtonText
            </MudButton>
            <MudButton Variant="Variant.Outlined" OnClick="Cancel" Class="custom-close-btn">
                Close
            </MudButton>
        </div>

    </DialogContent>
</MudDialog>


<style>
    .title-style {
        font-family: 'Public Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #242424;
    }

    .icon-circle {
        width: 50px;
        height: 50px;
    }

    .custom-add-btn {
        background-color: #FF7F38;
        font-size: 16px;
        font-weight: 600;
        color: white;
        text-transform: none;
    }

    .custom-close-btn {
        border-color: #D5D7DA;
        color: #242424;
        text-transform: none;
    }

    .custom-dialog {
        width: 400px;
        max-width: 90vw;
    }
</style>
