@page "/qln/classifieds/collectibles"
@using MudBlazor
@inject SearchStateService SearchState
@using QLN.Web.Shared.Pages.Classifieds.Collectibles.Components
@layout ClassifiedsLayout
@inherits CollectiblesComponentBase

<div style="width: 100%; background-color: var(--color-secondary-background);">
    <div class="search-section-container">
    <div class="max-container">
        <CollectiblesSearchSection  IsSaveSearch="IsSaveSearch"  SaveSearchAsync="SaveSearchAsync" IsLoadingSaveSearch="IsLoadingSaveSearch" OnSearch="OnSearchTriggered" Loading="IsLoadingSearch"  OnViewModeChanged="HandleViewModeChange" />
    </div>
 </div>
  <div class="max-container">
        <div class="category-banner-wrapper">
            <img src="/qln-images/banner_image.svg" alt="Category Banner" class="category-banner-image" />
        </div>
        <CollectiblesListSection TotalCount="TotalCount" ViewMode="@SearchState.CollectiblesViewMode" Items="SearchResults" Loading="IsLoadingSearch" IsSearchPerformed="@SearchState.IsCollectiblesSearchActive" OnSearch="OnSearchTriggered" />
 </div>
</div>

