@layout QLN.ContentBO.WebUI.Shared.MainLayout
@inherits LayoutComponentBase

<div class="item-layout">
    <!-- Example: Shared navigation tabs for all item pages -->
    <ItemsNavigationTabs />

    <div class="item-body">
        @Body
    </div>
</div>
