@page "/qln/classifieds/createform"
@using QLN.Web.Shared.Components.BreadCrumb
@using QLN.Web.Shared.Pages.Classifieds.CreatePost.Components
@using MudBlazor
@inherits CreatePostComponentBase

<div class="form-wrapper">
     <div class="max-container">
    <Breadcrumb Items="breadcrumbItems" />

    <div Class="form-container">
        <MudGrid GutterSize="24px">
            <MudItem xs="12" md="5">
                <CreateFormList TItem="string" adPostModel="adPostModel"  CategoryTrees="CategoryTrees" CategoryChanged="HandleCategoryChanged" />
            </MudItem>

            <MudItem xs="12" md="7">
                @if (!string.IsNullOrWhiteSpace(selectedVertical))
                {
                    <UploadPhotos PhotoUrls="@photoUrls" selectedVertical="@selectedVertical" />
                }
            </MudItem>
        </MudGrid>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(selectedVertical))
    {
        <div class="save-button-container">
            <MudButton Variant="Variant.Outlined" Class="close-button">Close</MudButton>
         <MudButton Class="ml-2 save-button"
           Variant="Variant.Filled"
           Disabled="@IsSaving"
           OnClick="SaveForm">
                @if (IsSaving)
                {
                     <MudProgressCircular Color="Color.Inherit"
                             Size="Size.Small"
                             Indeterminate="true" />
                }
                else
                {
                    <span>Save & Publish</span>
                }
            </MudButton>

        </div>
    }
</div>


