@page "/qln/classifieds/createform"
@using QLN.Web.Shared.Components.BreadCrumb
@using QLN.Web.Shared.Pages.Classifieds.CreatePost.Components
@using MudBlazor
@inherits CreatePostComponentBase

<EditForm EditContext="@editContext" OnSubmit="HandleSubmit">
   <DataAnnotationsValidator />
<div class="form-wrapper">
     <div class="max-container">
    <Breadcrumb Items="breadcrumbItems" />

    <div Class="form-container">
        <MudGrid GutterSize="24px">
            <MudItem xs="12" md="5">
                <CreateFormList TItem="string"  EditContext="editContext"
                                        adPostModel="adPostModel" CategoryTrees="CategoryTrees" CategoryChanged="HandleCategoryChanged"  />
            </MudItem>

            <MudItem xs="12" md="7">
                @if (!string.IsNullOrWhiteSpace(selectedVertical))
                {
                    <UploadPhotos adPostModel="adPostModel"PhotoUrls="@adPostModel.PhotoUrls" selectedVertical="@selectedVertical" />
                }
            </MudItem>
        </MudGrid>
        </div>
    </div>
 @if (!string.IsNullOrWhiteSpace(selectedVertical))
                {
         <div class="save-button-container">
                    <button class="close-button">Close</button>
                    <button class="save-button" type="submit">
                        @if (IsSaving)
                        {
                            <MudProgressCircular Color="Color.Inherit"
                                                 Size="Size.Small"
                                                 Indeterminate="true" />
                        }
                        else
                        {
                            <span>Save & Publish</span>
                        }
                    </button>
                </div>
}
</div>
</EditForm>


