@using MudBlazor

<div class="footer-main">
    <div class="footer-top">
        <div class="footer-column">
            <MudText Typo="Typo.h6">Explore</MudText>
            <MudLink Href="#">Properties</MudLink>
            <MudLink Href="#">Vehicles</MudLink>
            <MudLink Href="#">Classifieds</MudLink>
            <MudLink Href="#">Services</MudLink>
            <MudLink Href="#">Jobs</MudLink>
            <MudLink Href="#" Class="premium">Premium subscriptions</MudLink>
        </div>

        <div class="footer-column">
            <MudText Typo="Typo.h6">Other</MudText>
            <MudLink Href="#">News</MudLink>
            <MudLink Href="#">Events</MudLink>
            <MudLink Href="#">Forums</MudLink>
            <MudLink Href="#">Business pages</MudLink>
            <MudLink Href="#">eShops</MudLink>
        </div>

        <div class="footer-column">
            <MudText>Want to advertise on Qatar Living?</MudText>
            <MudText><strong>Take a look at our <MudLink Href="#" Class="orange-link">Advertise page</MudLink></strong></MudText>
            <MudText>Subscribe to our newsletter to get the latest updates</MudText>

            <div class="newsletter">
                <MudTextField T="string" Label="Email" Placeholder="Enter your email" @bind-Value="email" />
                <MudButton Color="Color.Primary" Variant="Variant.Filled">Subscribe</MudButton>
            </div>
        </div>

        <div class="footer-column footer-apps">
            <img src="images/newQatarLogo.png" alt="Qatar Living" width="132.5" height="40.33" class="logo" />
            <MudText>Our Mobile App</MudText>
            <img src="images/googlePlayLogo.svg" class="store-badge" />
            <img src="images/appStoreLogo.svg" class="store-badge" />
        </div>
    </div>

    <div class="footer-divider"></div>

    <div class="footer-bottom">
        <div class="footer-link">
            <div class="footer-links">
                <MudLink Href="#">Advertising Terms</MudLink>
                <MudLink Href="#">Website Terms</MudLink>
                <MudLink Href="#">Rules for posting ads</MudLink>
                <MudLink Href="#">Help</MudLink>
            </div>
            <p class="footer-copyright">
                &copy; 2024 Qatar Living. All rights reserved.
            </p>
        </div>

        <div class="footer-social">
            <MudText>Let's stay connected</MudText>
            <div class="social-icons">
                <img src="images/FacebookLogo.svg" alt="Facebook" class="social-icon" />
                <img src="images/Twitter.svg" alt="Twitter" class="social-icon" />
                <img src="images/Instagram.svg" alt="Instagram" class="social-icon" />
                <img src="images/Snapchat.svg" alt="Snapchat" class="social-icon" />
                <img src="images/LinkedIn.svg" alt="LinkedIn" class="social-icon" />
                <img src="images/YouTube.svg" alt="YouTube" class="social-icon" />
                <img src="images/TikTok.svg" alt="TikTok" class="social-icon" />
            </div>
        </div>
    </div>
</div>
@code {
    private string email;
}