@layout QLN.ContentBO.WebUI.Shared.MainLayout
@inherits LayoutComponentBase

<div class="preloved-layout">
    <h2 class="main-title-name-style">Preloved</h2>

    <PreLovedNavigationTabs />

    <div class="preloved-body">
        @Body
    </div>
</div>
