@page "/testpage"  
@using QLN.Web.Shared.Components.QLAnalytics  
@using QLN.Web.Shared.Services  

<h3>TestPage</h3>  

<QLAnalytics AnalyticsProps=@analyticsCallProps />  

@inject NavigationManager NavigationManager  

@code {
    private QLAnalyticsCallProps analyticsCallProps = new QLAnalyticsCallProps();  

    // populate the analyticsCallProps with some test data  
    protected override void OnInitialized()  
    {  
        base.OnInitialized();  

        // get the url we are on  
        var uri = NavigationManager.Uri;

        analyticsCallProps = new QLAnalyticsCallProps
            {
                Action = "TestAction",
                AnalyticType = (int)AnalyticType.VIEW_BANNER_IMPRESSION,
                AdId = [0],
                Impressions = [0],
                Url = uri,
                Lead = AnalyticsLead.SMS_REVEAL,
                VerticalTag = (int)VerticalTag.CONTENT,
                AdditionalTag = new Dictionary<string, string>
                {
                    { "TestKey1", "TestValue1" },
                    { "TestKey2", "TestValue2" },
                    { "SampleTag", "SampleValue" }
                }
            };
    }  
}
