 <a href="https://qlnfilesdev.blob.core.windows.net/services-images/01000f6050.png" target="_blank" rel="noopener noreferrer">
  View PDF
</a>
@code {
    [Parameter]
    public string PdfUrl { get; set; } = string.Empty;
}