@using QLN.ContentBO.WebUI.Models
@using QLN.ContentBO.WebUI.Pages.Auth
@inject NavigationPath NavigationPath
<CascadingAuthenticationState>
    <AuthorizeView Policy="AdminOnly">
        <Authorized>
            <Router AppAssembly="@typeof(App).Assembly">
                <Found Context="routeData">
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                </Found>
                <NotFound>
                    <PageTitle>Not found</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </Authorized>
        <NotAuthorized>
            <p>You are not authorized</p>
            @if (!NavigationPath.IsLocal)
            {
                <RedirectToLogin />
            }
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
