@inject IJSRuntime JS

<div class="file-upload-container">

    <div class="file-upload-wrapper">
        <input type="file"
               @ref="fileInput"
               style="display:none"
               @onchange="OnFileSelected"
               accept=".pdf,.png,.jpg,.jpeg" />

        <div class="file-input-box">
            <span class="@(!string.IsNullOrEmpty(FileName) ? "file-name" : "placeholder-text")">
                @(!string.IsNullOrEmpty(FileName) ? FileName : LabelText)
            </span>
        </div>

        <button class="upload-btn" @onclick="TriggerFileUpload">
            Upload
            <img src="/qln-images/Classifieds/cloudUpload_icon.svg" style="width: 24px; margin-right: 6px;" />
        </button>
    </div>

    <div class="file-note">Supported file formats: PDF, PNG and JPG. Maximum file size: 10MB.</div>

    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="text-red-600 text-sm mt-1">@ErrorMessage</div>
    }
</div>
@code {
    private ElementReference fileInput;
    private string FileName = string.Empty;
    private string ErrorMessage;

    [Parameter] public EventCallback<(string Name, string Base64)> OnFileUploadedWithMeta { get; set; }

    [Parameter] public string LabelText { get; set; } = "Certificate / Warranty*";

    private async Task TriggerFileUpload()
    {
        await JS.InvokeVoidAsync("FileUploader.triggerFileInput", fileInput);
    }

    private async Task OnFileSelected(ChangeEventArgs e)
    {
        try
        {
            ErrorMessage = string.Empty;

            var fileData = await JS.InvokeAsync<string>("FileUploader.readFileAsBase64", fileInput);
            FileName = await JS.InvokeAsync<string>("FileUploader.getFileName", fileInput);

            if (!string.IsNullOrEmpty(fileData))
            {
               await OnFileUploadedWithMeta.InvokeAsync((FileName, fileData));

            }
        }
        catch (JSException ex)
        {
            ErrorMessage = "Failed to read file: " + ex.Message;
        }
    }
}

