@page "/manage/classified/preloved/verification/preview/{CompanyId:guid}"
@inherits VerificationPreviewBase
@layout QLN.ContentBO.WebUI.Pages.Classified.PreLoved.PreLovedLayout
<div >
    <VerificationActions OnCompanyAction="UpdateStatus" CompanyDetails="@CompanyDetails"/>

    <MudGrid>
        <MudItem xs="12" md="3">
            <UserImageCard ImageUrl="@CompanyDetails.CompanyLogo" />
        </MudItem>
        <MudItem xs="12" md="8">
            <UserProfileFields CompanyDetails="@CompanyDetails"/>
        </MudItem>
    </MudGrid>
</div>