@layout QLN.Web.Shared.Layout.MainLayout
@using QLN.Web.Shared.Pages.Content.NavigationTabs
@inherits LayoutComponentBase

<div class="Content-layout">
    <!-- Example: Shared navigation tabs for all Content pages -->
    <NavigationTabs />

    <div class="Content-body">
        @Body
    </div>
</div>
