@inherits ManageNewsBase
@page "/manage/news"

<PageTitle>Manage News</PageTitle>

<h3>ManageNewsComponent</h3>
<MudButton Href="/manage/news/addarticle" Variant="Variant.Filled" Color="Color.Primary">Add Article</MudButton>
<CustomMudDataGrid />
@code {

}
