@inherits ConfirmationeDialogBase

<MudDialog Class="pa-2 custom-dialog">
    <DialogContent>
        <div class="d-flex justify-center">
            <img class="icon-circle" src="/qln-images/success_icon.svg" alt="go-live Image" />
        </div>
        <MudText Align="Align.Center" Class="mt-4 mb-2 title-style ">
            @Title
        </MudText>
        <MudText Align="Align.Center">
            @Descrption
        </MudText>
        <div class="mt-4 d-flex flex-column gap-2">
            <MudButton Variant="Variant.Filled" Class="mt-4 custom-add-btn" OnClick="Confirm">
                    @ButtonTitle
            </MudButton>
            <MudButton Variant="Variant.Outlined" OnClick="Cancel" Class="mt-2 custom-close-btn">
                Cancel
            </MudButton>
        </div>
    </DialogContent>
</MudDialog>

