@inherits TopicRenameDialogBase

<MudDialog Class="pa-2 custom-dialog">
    <DialogContent>
        <MudText Align="Align.Center" Class="mt-4 mb-2 title-style ">
            @Title
        </MudText>
        <MudTextField @bind-Value="TopicName"
                      Label="Topic Name"
                      Class="mt-3"
                      Variant="Variant.Outlined"
                      Immediate="true"
                      Error="@(!string.IsNullOrWhiteSpace(_errorText))"
                      ErrorText="@_errorText"
                      MaxLength="255" />
        <div class="mt-4 d-flex flex-column gap-2">
            <MudButton Variant="Variant.Filled" Class="mt-4 custom-add-btn" OnClick="Confirm">
                @ButtonTitle
            </MudButton>
            <MudButton Variant="Variant.Outlined" OnClick="Cancel" Class="mt-2 custom-close-btn">
                Cancel
            </MudButton>
        </div>
    </DialogContent>
</MudDialog>

<style>
    .title-style {
        font-family: 'Public Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #242424;
    }

    .icon-circle {
        width: 50px;
        height: 50px;
    }

    .custom-add-btn {
        background-color: #FF7F38;
        font-size: 16px;
        font-weight: 600;
        color: white;
        text-transform: none;
    }

    .custom-close-btn {
        border-color: #D5D7DA;
        color: #242424;
        text-transform: none;
    }

    .custom-dialog {
        width: 400px;
        max-width: 90vw;
    }
</style>