@page "/authnetication-setup"
@inject NavigationManager NavManager
@using MudBlazor
@inject ISnackbar Snackbar
@inject ApiService Api
@using QLN.Blazor.Base.Services
@inject UserState UserState
@using MudBlazor.Components
@rendermode InteractiveServer
@using QLN.Blazor.Base.Models
@using QLN.Web.Shared.Components.CustomButton


<MudPaper Class="pa-6 mx-auto mt-10" 
          Style="max-width: 500px; border-radius: 12px; margin-top: 30px; margin-bottom: 30px;">
    
    <MudStack Spacing="3">
        <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-6" Style="font-weight: 700;">
        Set Up Two-Factor Authentication
    </MudText>

        <MudText Typo="Typo.caption" Align="Align.Center">
            Improve your account security with 2FA
        </MudText>

        <MudText>1. Download an authenticator app</MudText>
        <MudText>2. Scan this QR code</MudText>
        <MudText>3. Enter the 6-digit code below</MudText>

        <MudTextField T="string" 
                      Label="Verification Code" 
                      Variant="Variant.Outlined" 
                      FullWidth="true" 
                      @bind-Value="_code" />

        <MudText Align="Align.Start"
                 Class="mud-clickable mt-2"
                 Style="color: #FF7F38; cursor: pointer;" 
                 @onclick="NavigateToForgotPassword">
                 Can't scan? Manual entry code:
        </MudText>
        <MudText Align="Align.Start"
                 Class="mud-clickable mt-2"
                 Style="color: #555555; cursor: pointer;" 
                 @onclick="NavigateToForgotPassword">
                 ABCD-EFGH-IJKL-MNOP
        </MudText>
<div style="display: flex; gap: 16px;">
    
    <CustomButton 
    BackgroundColor="#FFFFFF"
    TextColor="#555555"
    BorderColor="#CCCCCC"
    Text="Skip for now"
    Disabled="_isLoading"
    Loading="_isLoading"
    OnClick="@Cancel"
    Class="mt-4" />

   
    <CustomButton 
    BackgroundColor="#FF7F38"
    TextColor="#FFFFFF"
    Text="Verify"
    Disabled="_isLoading"
    Loading="_isLoading"
    OnClick="@VerifyCode"
    Class="mt-4" />
</div>
        
    </MudStack>
</MudPaper>

@code {
    private string _input = string.Empty;
    private string _code = string.Empty;
    private bool _isLoading = false;
    private bool _checked;

    private void NavigateToForgotPassword()
    {
        NavManager.NavigateTo("/login");
    }
    private void Cancel()
    {
        NavManager.NavigateTo("/");
    }

    private async Task VerifyCode()
{
     _isLoading = true;
    if (string.IsNullOrWhiteSpace(_code))
    {
        Snackbar.Add("Enter the verification code", Severity.Warning);
        _isLoading = false;
        return;
    }
    try
    {
        var payload = new { usernameOrEmailOrPhone = "9677484367", twoFactorCode = _code };
        var res = await Api.PostAsync<object, ResponseModel<object>>("auth/verify-2fa", payload);
            Console.WriteLine(payload);
            Console.WriteLine(res?.Status);
        if (res?.Status == true)
        {
            Snackbar.Add("Signup successful! Please enter OTP.", Severity.Success); 
             NavManager.NavigateTo("/");
        }
        else
        {
            Snackbar.Add(res?.Message ?? "Failed to resend verification email.", Severity.Warning);
        }
    }
    catch (Exception ex)
    {
        Snackbar.Add($"Signup failed: {ex.Message}", Severity.Error);
    }
    finally
        {
            _isLoading = false;
        }
}
}