@using System.Globalization
@using MudBlazor
@using QLN.Web.Shared.Components.EmptyCard
@inherits PopularArticlesBase
<div class="popular-articles">
    <h3 class="title">Most Popular Articles</h3>

     @if (Articles != null && Articles.Any()){
     @foreach (var article in Articles.Take(5))
    {
        <div class="article-item" @onclick="@(() => onclick(article))">
             <img src="@article.ImageUrl" alt="News Image" class="article-image" />
            <div class="article-text">@article.Title</div>
        </div>
    }
    }
    else{
        <EmptyCard Title="No article found" Subtitle="Please check back later or explore other categories." />
    }
</div>

<style>
    .popular-articles {
    font-family: 'Public Sans', sans-serif;
    max-width: 550px; 
    @* margin: 0 auto;    *@
    padding: 16px;
    border-radius: 8px;
    }

    .title {
        color: var(--color-primary);
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 16px;
        border-left: 4px solid #004374;
        padding-left: 8px;
    }

    .article-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
}

.article-image {
    width: 177px;
    height: 100px;
    @* object-fit: contain; *@
}

    .circle {
        background-color: #FF7F38;
        color: white;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        text-align: center;
        line-height: 28px;
        font-weight: bold;
        margin-right: 12px;
    }

    .article-text {
        font-size: 18px;
        font-weight: 600;
        color: var(--color-text-heading);
    }
     .article-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;              
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

    font-size: 18px;
    font-weight: 600;
    color: var(--color-text-heading);
    line-height: 1.4;
    max-height: calc(1.4em * 3);    
         
}
@@media (max-width: 768px) {
    .article-text {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* up to 3 lines */
        -webkit-box-orient: vertical;
         font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        line-height: 1.4;
        max-height: calc(1.4em * 3); /* ~3 lines */
    }
}
</style>

