@using System.Globalization
@using MudBlazor
@inherits PopularArticlesBase
<div class="popular-articles">
    <h3 class="title">Most Popular Articles</h3>

     @foreach (var article in Articles.Take(5))
    {
        <div class="article-item">
             <img src="@article.ImageUrl" alt="News Image" class="article-image" />
            <div class="article-text">@article.Title</div>
        </div>
    }
</div>

<style>
    .popular-articles {
    font-family: 'Public Sans', sans-serif;
    max-width: 500px; 
    @* margin: 0 auto;    *@
    padding: 16px;
    border-radius: 8px;
    }

    .title {
        color: var(--color-primary);
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 16px;
        border-left: 4px solid #004374;
        padding-left: 8px;
    }

    .article-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
}

.article-image {
    width: 177px;
    height: 100px;
    @* object-fit: contain; *@
}

    .circle {
        background-color: #FF7F38;
        color: white;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        text-align: center;
        line-height: 28px;
        font-weight: bold;
        margin-right: 12px;
    }

    .article-text {
        font-size: 18px;
        font-weight: 600;
        color: var(--color-text-heading);
    }
</style>

