.heading-style {
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #00426D;
    margin-top: 14px;
}

.company-profile-container {
    background-color: #F2F4F7;
}

.form-input {
    justify-content: center;
    width: 472px;
    height: 60px;
    margin-top: 14px;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    border: 1px solid #D0D5DD;
}

.select-input {
    justify-content: center;
    margin-top: 14px;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    border: 1px solid #D0D5DD;
}

.doc-input {
    justify-content: center;
    max-width: 472px;
    height: 60px;
    margin-top: 14px;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    border: 1px solid #D0D5DD;
}

.mud-select {
    display: flex;
    flex-grow: 1;
    position: relative;
    max-width: 472px !important;
}

.description-input {
    justify-content: center;
    max-width: 472px;
    margin-top: 14px;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    border: 1px solid #D0D5DD;
}

.grid-flex {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    width: 472px;
}

.row-flex {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.grid-input {
    width: 232px !important;
    background-color: #FFFFFF;
    padding: 0px 10px;
    margin-top: 10px;
    height: 60px;
    border: 1px solid #D0D5DD;
}

.upload-subtitle {
    color: #9E9E9E;
    text-align: center;
    margin-top: 8px;
}

.grid-input .mud-input-slot {
    border-bottom: none !important;
}

.section-header {
    font-weight: 600;
    font-size: 1.125rem;
    margin: 1.5rem 0 0.75rem 0;
    color: #333;
}

.upload-button {
    border-radius: 12px;
    text-transform: none;
}

.button-container {
    max-width: 472px;
}


.no-underline .mud-input-underline::before,
.no-underline .mud-input-underline::after {
    border-bottom: none !important;
}

@@media (max-width: 600px) {
    .company-profile-container {
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 10px 8px;
    }

    .company-profile-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .grid-flex {
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
        width: auto;
    }

    .row-flex {
        flex-direction: column;
        display: flex;
        gap: 10px;
        width: auto;
    }

    .doc-input {
        justify-content: center;
        height: 60px;
        margin-top: 14px;
        background-color: #FFFFFF;
        border-radius: 6px;
        padding: 10px;
        position: relative;
        border: 1px solid #D0D5DD;
    }

    .grid-input {
        width: 100% !important;
        background-color: #FFFFFF;
        padding: 0px 10px;
        margin-top: 10px;
        height: 60px;
        border: 1px solid #D0D5DD;
    }
}

@@media (min-width: 601px) and (max-width: 1110px) {
    .company-profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 8px;
    }

    .company-profile-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .company-profile-form-section {
        justify-content: center;
        display: flex;
    }

    .grid-flex {
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
        max-width: auto !important;
    }

    .row-flex {
        flex-direction: column;
        display: flex;
        gap: 10px;
        width: auto;
    }

    .doc-input {
        justify-content: center;
        height: 60px;
        margin-top: 14px;
        background-color: #FFFFFF;
        border-radius: 6px;
        padding: 10px;
        position: relative;
        border: 1px solid #D0D5DD;
    }

    .grid-input {
        width: 100% !important;
        background-color: #FFFFFF;
        padding: 0px 10px;
        margin-top: 10px;
        height: 60px;
        border: 1px solid #D0D5DD;
    }
}
