@page "/content/events"

@layout ContentLayout
@using QLN.Web.Shared.Components.Carousel
@using QLN.Web.Shared.Pages.Content.Events.FeaturedEvents
@using QLN.Web.Shared.Pages.Content.Events.SearchSection
@using QLN.Web.Shared.Pages.Content.Events.EventsList
@using QLN.Web.Shared.Components.FeaturedEventCard
@inherits EventsComponentBase
<PageTitle>All the events in Qatar you don&#039;t want to miss | Qatar Living Events</PageTitle>
<div style="width: 100%;background-color: var(--color-secondary-background);">
    <div style="max-width: 1200px; margin: 0 auto;">
        <div class="carousel-responsive-container">

            <!-- Carousel Banner -->
            <CarouselBanner ImageUrls="carouselImages" ShowArrows="true" EnableSwipeGesture="false" AutoCycle="true"
                            Transition="Transition.Slide" />


        </div>
        <FeaturedEvents FeaturedEvent="featuredEeventData" Loading="isLoading" />
        <div class="responsive-container">

            <SearchSection />
            <EventsList Items="ListOfEvents" />
        </div>
    </div>
</div>

@code {
    private List<string> carouselImages = new()
{
"/images/banner_image.svg",
"/images/banner_image.svg",
"/images/banner_image.svg"
};
    private bool isLoading = false;

    private List<FeaturedEventCard.EventItem> featuredEeventData = new()
{
new() { Category = "Qatar International Art Festival 2025 - 7th Edition", ImageUrl = "/images/categories/new1.svg" },
new() { Category = "FIFA Arab Cup - Doha 2025", ImageUrl = "/images/categories/new2.svg" },
new() { Category = "Qatar T100 Triathlon World Championship Final", ImageUrl = "/images/categories/new3.svg" },
new() { Category = "In the Realms of Mecca: A Journey through the Ritua", ImageUrl = "/images/categories/new4.svg" },
new() { Category = "Qatar Desert Trail Running Series 2025", ImageUrl = "/images/categories/new5.svg" },
new() { Category = "A Sneak Peek at Qatar Auto Museum Project", ImageUrl = "/images/categories/new6.svg" },

};

}

<style>
    .responsive-container {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    }

    .carousel-responsive-container {
        width: 100%;
        padding: 0px 40px;
        margin-bottom: 40px;
        box-sizing: border-box;
    }

    @@media (max-width: 768px) {
        .responsive-container {
            padding: 0 16px;
        }

        .carousel-responsive-container {
            margin-bottom: 10px;
            padding: 0 16px;
        }
    }

    @@media (max-width: 480px) {
        .responsive-container {
            padding: 0 5px;
        }

        .carousel-responsive-container {
            margin-bottom: 5px;
            padding: 0 5px;
        }
    }
</style>