@using MudBlazor

<div class="event-card">
    <div class="event-title">Al Sadd lift fourth Qatar Cup title with thrilling win over Al Duhail</div>

    <div class="event-image-container">
        <img src="/images/sample_news.svg" alt="Michael Bublé" class="event-image" />

             <div class="author-wrapper">
                    <div class="main-author">
                        <div>
                        Ismat Zerin • <a href="#" class="main-source">Qatar Living</a>  
                        <img src="/images/tick.svg" alt="Qatarliving" />
                         <h3 class="main-title">May 10, 2025 at 8:22 PM GMT+1 3 min read</h3>
                         </div>
                    </div> 
                    

                    <div class="icons">
                     <div class="icons-item">
                            <MudIcon Icon="@Icons.Material.Filled.FavoriteBorder" class="icons-color" />
                    </div>
                    <div class="icons-item">
                        <MudIcon Icon="@Icons.Material.Filled.Share" class="icons-color" />
                    </div>

                    <div class="comment-badge">
                        <img src="/images/comment_icon.svg" alt="Comments" class="comment-icon" />
                        <span class="count">12</span>
                    </div>
            </div>
        </div>
    </div>

    <div class="event-description">
        <p>
            Reigning Qatar Stars League champions Al Sadd clinched their second trophy of the season —
            the Qatar Cup — after edging arch-enemies Al Duhail 3-2 in a thrilling penalty shoot-out at the
            Jassim bin Hamad Stadium on Saturday.
        </p>
        <p>
            The two teams had been tied 2-2 at the end of regular time before Sadd went on to clinch their
            fourth Qatar Cup title in history.
        </p>
        <p>
            Qatar Olympic Committee President HE Sheikh Joaan bin Hamad Al Thani crowned the winners and handed
            over the coveted trophy to Al Sadd captain Hassan Al Haydos.
        </p>
        <p>
            Goalkeeper Meshaal Barsham, brother of decorated high-jumper and reigning Olympic champion Mutaz Essa Barsham, proved to be the hero of the night. He produced two crucial saves in the shootout, diving to his left and then right, to gift the Wolves the title.

        </p>
        <p>
            Al Haydos, Akram Afif, Rafa Mujica, and Claudinho converted their spot-kicks for Al Sadd while Pedro Miguel missed. Meanwhile, Almoez Ali, Edmilson Jr, and Benjamin Bourigeaud were on target for Al Duhail, with Michael Olunga and Karim Boudiaf being denied by Barsham.

        </p>
        <p>
            Duhail started the game strongly, putting Sadd under pressure. Barsham stood as a strong wall, but the Red Knights broke the deadlock in the 49th minute when Olunga headed home from a corner.

        </p>
        <p>
            Sadd equalised in the 63rd, through a penalty, after Pedro Miguel was brought down during a corner. Claudinho calmly converted to make it 1-1. However, just three minutes later, Duhail regained the upper hand through Bourigeaud.
        </p>
        <p> In the 86th, Mujica rose high to head home Sadd’s equaliser. The game went into extra time and then penalty shootouts. Al Sadd made the most of the home advantage to emerge as champions. It was Al Sadd’s fourth Qatar Cup title, after winning it in 2017, 2020, and 2021.
        </p>
    </div>
    <img src="/images/sample_articleImage.svg" alt="Michael Bublé" class="event-image" />
    <div class="event-description">
        <p>
           Al Sadd coach Felix Sanchez praised his players for the tough win.
        </p>
        <p>
            “We played a strong match against a strong team. We were behind twice and came back. I think we deserved the title. It was an enjoyable match for everyone. It went to penalties, and I’m really happy with the players, their performance, and their comeback,” he said.

        </p>
        <p>
            He was all praise for goalkeeper Barsham.
        </p>
        <p>
        “Barsham was a star. We said if it went to penalties, he would help us and he did. He did it with the national team, and now again with Al Sadd,” Sanchez, who trained Qatar during the 2022 FIFA World Cup, said.
        </p>
    </div>
</div>

<style>
    .event-card {
        margin: auto;
        padding: 16px;
        background-color: white;
        border-radius: 12px;
        font-family: 'Public Sans';
    }

    .event-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .event-image-container {
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
        border: 1px solid #F0F0F0;
    }

    .event-image {
        width: 100%;
        max-height: 421.88px;
        object-fit: cover;
        display: block;
        border-radius: 6px;
    }

    .event-info-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        background: #ffffff;
    }

    .location {
        display: flex;
        align-items: center;
        color: var(--color-primary);
    }

    .icons-item {
        border-radius: 50px;
        padding: 10px;
        border: 1px solid var(--color-secondary-grey-container);
        color: var(--color-accent)
    }

    .icons-color {
        color: var(--color-accent)
    }

    .location-icon {
        font-size: 14px;
        color: var(--color-primary);
    }

    .location-text {
        margin-left: 6px;
        font-weight: 500;
        font-size: 13px;
        color: var(--color-primary)
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .event-description {
        margin-top: 24px;
        font-size: 14px;
        font-weight: 600;
        gap: 24px;
        color: var(--color-text-heading);
        line-height: 1.6;
        font-family: 'Public Sans', sans-serif;
    }
    .event-description p {
        margin-bottom: 2rem;
    }
    .comment-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E3E3E3; 
    border-radius: 50px;
    padding: 8px 10px;
    gap: 8px;
    width: fit-content;
}

.comment-badge .icon {
    color: var(--color-primary) ; 
    height: 24px;
    width: 24px;
}

.comment-badge .count {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-primary);
}
 .main-author {
        font-size: 14px;
        color: var(--color-primary);
    }

    .main-source {
        text-decoration: none;
        color: var(--color-primary);
        font-weight: 600;
    }

    .verified {
        color: var(--color-primary);
        font-weight: bold;
    }
    .author-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
}
</style>

 