@inherits NewsLetterBase
@using QLN.Web.Shared.Components.CustomButton


<div class="newsletter-container">
    <h3 class="newsletter-container-name">
        Get The QL newsletter. Sign up to receive the top stories you need to know
        right now.
    </h3>
    <MudForm @ref="_form">

        <div id="mc_embed_signup" class="css-w280i0">
            <form action="//My.us9.list-manage.com/subscribe/post?u=3ab0436d22cqeqqeqeqeqeq3f64&amp;id=94198fac96"
                  method="post"
                  id="mc-embedded-subscribe-form"
                  name="mc-embedded-subscribe-form"
                  class="validate"
                  target="_blank"
                  novalidate>
                <input type="email"
                       name="EMAIL"
                       class="b-footer-subscribe--el-input required email"
                       id="mce-EMAIL"
                       placeholder="Email" />
                <input type="submit"
                       class="b-footer-subscribe--el-submit"
                       value="Subscribe"
                       name="subscribe"
                       id="mc-embedded-subscribe" />
                <input type="email" placeholder="Enter your email" class="email-input" @bind="SubscriptionModel.Email"
                       @bind:event="oninput" required />
                <MudButton Variant="Variant.Filled"
                           Class="reset-button"
                           Disabled="@IsSubscribingToNewsletter"
                           OnClick="SubscribeAsync" Style="background-color: #FF7F38;color: white;">
                    @("Subscribe")
                </MudButton>

                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <input type="text"
                       name="b_3ab0436d22c64716e67a03f64_94198fac96"
                       tabindex="-1"
                       value=""
                       aria-label="subscribe" />
            </form>
        </div>
    </MudForm>
</div>

<style>
    .newsletter-box {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 12px;
        margin-top: 1rem;
        max-width: 340px;
    }

    .newsletter-icon {
        width: 48px;
        height: 48px;
        margin-top: 10px;
    }

    .newsletter-text {
        font-family: 'Public Sans',sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #242424;
    }

    .newsletter-input {
        width: 292px;
        height: 44px;
        padding: 10px 16px;
        border: 1px solid #D0D5DD;
        border-radius: 6px;
    }

        .newsletter-input::placeholder {
            padding-left: 14px;
        }

    .newsletter-html-input:focus {
        border-color: #FF7F38;
    }

    .newsletter-button {
        width: 292px;
        height: 44px;
        gap: 8px;
        border-radius: 6px;
        padding: 6px 40px;
        background-color: #FF7F38;
        color: white;
        margin-top: 16px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0;
        text-transform: capitalize;
    }

    .newsletter-container {
        width: 100%;
        margin: 0 auto;
        padding: 24px;
        box-sizing: border-box;
        border: 1px solid var(--color-background-secondary-grey-medium);
        border-radius: 6px;
        background-color: #fff;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .newsletter-container-name {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
        color: var(--color-text-heading);
        line-height: 26px;
        letter-spacing: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    .error-message {
        color: red;
        font-size: 13px;
        margin-bottom: 10px;
    }


    .email-input {
        width: 100%;
        padding: 8px 10px;
        font-size: 15px;
        border: 1px solid #D0D5DD;
        border-radius: 6px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

        .email-input:focus {
            border-color: #ff7f38;
            outline: none;
        }

</style>
