@layout QLN.Web.Shared.Layout.MainLayout
@using QLN.Web.Shared.Pages.Classifieds
@inherits LayoutComponentBase

<div class="classifieds-layout">
    <!-- Example: Shared navigation tabs for all classifieds pages -->
    <NavigationTabs />

    <div class="classifieds-body">
        @Body
    </div>
</div>
