@page "/manage/classified/landing"
@inherits LandingPageBase
@using QLN.ContentBO.WebUI.Pages.Classified.Landing
<MudGrid Style="padding-top: 18px">
    <MudItem xs="12" md="12">
        <h2 class="main-title-name-style">Landing Page</h2>
        <MudTabs ActivePanelIndex="@activeIndex"
                 ActivePanelIndexChanged="OnTabChanged"
                 Rounded="false"
                 Centered="false"
                 Class="daily-custom-tabs"
                 Style="background-color: #FAFAFA;">
            <MudTabPanel Text="Featured Categories" />
            <MudTabPanel Text="Seasonal Picks" />
            <MudTabPanel Text="Featured Stores" />
        </MudTabs>
        <div class="landing-action-section-container">
            <MudButton StartIcon="@Icons.Material.Outlined.Add"
                       Style="background-color: #FF7F38; color: white; text-transform: none;"
                       Class="compact-button"
                       OnClick="NavigateToAddItem">
                Add @GetCurrentTabAddButtonText()
            </MudButton>
        </div>

        <div style="margin-top:10px">
            <LandingPageComponent IsLoading="IsLoading"
                                  Items="currentItems"
                                  ItemType="@currentItemType"
                                  OnDelete="DeleteItem"
                                  ReplaceItem="ReplaceItem"
                                  ReloadData="LoadDataForCurrentTab" />
        </div>
    </MudItem>
</MudGrid>