@page "/manage/classified/items/view/transactions"
@inherits ViewTransactionsBase
@using QLN.ContentBO.WebUI.Models;
@layout ItemLayout

<MudGrid Style="padding-top: 18px">
    <!-- Left Form Section -->
    <MudItem xs="12" md="12">
             <SearchSortBar Items="Transactions" OnSearch="HandleSearch" OnSort="HandleSort" OnDateFilterChanged="HandleDateFilterChanged"  />
              <div class="community-table">
              <ViewTransactionsTable 
                IsLoading="IsLoading"
                Transactions="Transactions"
                TotalRecords="TotalRecords"
                OnTabChanged="HandleTabChanged"
                OnPageChanged="HandlePageChanged"
                OnPageSizeChanged="HandlePageSizeChanged"
            />
             </div> 
    </MudItem>
</MudGrid>