@inherits CompanyLogoBase
@using MudBlazor
@using Microsoft.AspNetCore.Components.Forms

<div class="company-logo-section">
    <h3 class="section-title">Company Logo</h3>

    <MudFileUpload T="IBrowserFile"
                   Accept="image/*"
                   FilesChanged="HandleLogoFileSelected">
        <ActivatorContent>
            <div class="upload-wrapper">
                <MudPaper Class="upload-box">
                    @if (HasLogo)
                    {
                        <img src="@LogoSource" alt="Company Logo" class="logo-image" />
                    }
                    else
                    {
                        <div class="upload-placeholder">
                            <img src="/qln-images/upload_icon.svg" alt="Upload" class="upload-icon" />
                        </div>
                        <MudText Class="upload-text">Upload image</MudText>
                    }
                </MudPaper>

                @if (HasLogo)
                {
                    <div class="logo-overlay">
                         <MudIconButton Class="logo-action">
                            <img src="/qln-images/edit_icon.svg" alt="Edit" class="event-action-icon-style" />
                        </MudIconButton>
                        <MudIconButton OnClick="ClearLogo">
                            <img src="/qln-images/delete_icon.svg" alt="delete" class="event-action-icon-style" />
                        </MudIconButton>
                    </div>
                }
            </div>
        </ActivatorContent>
    </MudFileUpload>

    <MudText Typo="Typo.caption" Class="recommendation-text">
        Recommended image size: Minimum 1920 x 1200 pixels
    </MudText>
</div>

<style>
    .company-logo-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 240px;
        padding: 10px;
    }

    .section-title {
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: var(--color-text-heading);
        margin-bottom: 16px;
        text-align: center;
    }

    .upload-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .upload-box {
        height: 240px;
        width: 240px;
        border: 2px dashed #ccc;
        cursor: pointer;
        position: relative;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    .logo-image {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    .logo-overlay {
        width: 240px;
        height: 22px;
        background-color: #000000CC;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        z-index: 10;
    }

    .logo-action  {
        color: white;
        padding: 0;
    }

    .upload-placeholder {
        width: 64px;
        height: 64px;
        background-color: var(--color-background-secondary-grey-light);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .upload-icon {
        height: 24px;
    }

    .upload-text {
        margin-top: 8px;
        color: var(--color-accent);
        font-size: 13px;
        font-weight: 500;
    }

    .recommendation-text {
        margin-top: 0.5rem;
        color: var(--color-text-descripton);
        max-width: 180px;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
    }
</style>
