@page "/manage/classified/deals/edit/ad/{AdId}"
@using QLN.ContentBO.WebUI.Models
@using QLN.ContentBO.WebUI.Pages.Classified.Items.EditAd
@inherits EditDealsBase
@using QLN.ContentBO.WebUI.Components.EmptyCard

<button class="back-button" @onclick="GoBack">
    <MudIcon Icon="@Icons.Material.Rounded.KeyboardArrowLeft" Class="back-icon" />
    Back
</button>
@if (IsLoading)
{
    <MudGrid GutterSize="24px">
        <MudItem xs="12" md="5">
            <MudSkeleton Height="50px" Width="100%" Animation="Animation.Pulse" />
            <MudSkeleton Height="50px" Width="100%" Animation="Animation.Pulse" />
            <MudSkeleton Height="50px" Width="100%" Animation="Animation.Pulse" />
              <MudSkeleton Height="50px" Width="100%" Animation="Animation.Pulse" />
            <MudSkeleton Height="50px" Width="100%" Animation="Animation.Pulse" />

        </MudItem>
        <MudItem xs="12" md="7">
            <MudSkeleton Height="500px" Width="100%" Animation="Animation.Pulse" />
        </MudItem>
    </MudGrid>
}
else if (HasData)
{
    <EditDealsAction AdModel="@adPostModel"/>
    <div class="create-form-container">
        <MudGrid GutterSize="24px">
            <MudItem xs="12" md="5">
                <CreateDealsFormList Ad="@adPostModel" />
            </MudItem>

            <MudItem xs="12" md="7">
                <UploadDealsPhotos AdModel="@adPostModel" />
            </MudItem>
        </MudGrid>
    </div>
}
else
{
     <div class="empty-card-wrapper">
            <EmptyCard Title="Data Could not be loaded" Subtitle="Please check back later " />
        </div>
}
<style>
    .create-form-container {
        padding: 20px 0;
    }
    .back-button {
        display: flex;
        align-items: center;
        border: 1px solid var(--color-accent); 
        color: var(--color-accent);            
        background-color: transparent;
        border-radius: 8px;
        padding: 6px 10px;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

    .back-icon {
        margin-right: 6px;
    }
</style>
