@inherits CommunityRulesBase

<div Class="community-paper">
    <div class="header-row">
        <div class="color-bar"></div>
        <MudText Class="community-rules-title">Rules & Guidelines</MudText>
    </div>
    <div class="d-flex flex-column gap-2 mt-4">
        @foreach (var rule in rules.Select((text, index) => new { text, index }))
        {
            <div class="d-flex flex-row gap-2  mt-2" style="align-items:center">
                <div class="rule-index">@((rule.index + 1).ToString())</div>
                <div class="rule-text">@rule.text</div>
            </div>
        }
    </div>
</div>



<style>
    .community-paper {
        padding: 10px;
        max-width: 340px;
    }

    .header-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

    }

    .color-bar {
        width: 6px;
        height: 26px;
        background-color: #00426D;
    }

    .community-rules-title {
        font-family: 'Public Sans', sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #242424;
    }

    .rule-index {
        width: 32px;
        height: 32px;
        border-radius: 999px;
        background-color: #FF7F38;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-family: 'Public Sans', sans-serif;
        font-size: 14px;
        flex-shrink: 0;
    }

    .rule-text {
        font-family: 'Public Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #242424;
        white-space: normal;
    }
</style>
