@page "/content/community"
<PageTitle>Community</PageTitle>
@layout ContentLayout
@inherits CommunityBase

@inject NavigationManager Navigation
@using QLN.Web.Shared.Pages.Content.Community.Components.SearchBarSection
@using QLN.Web.Shared.Components.Carousel



<div class="container">
    <div class="container-inner-wrapper">

        <MudContainer MaxWidth="MaxWidth.ExtraLarge" >
            <div class="category-banner-wrapper">
                <img src="/qln-images/banner_image.svg" alt="Category Banner" class="category-banner-image" />
            </div>

            <CommunitySearchBarSection OnSearchCompleted="HandleSearchResults" />
            <div class="section-container">

            <MudGrid>
                <!-- Left Section -->
                <MudItem xs="12" md="8">
                    <div class="community-header">
                        <MudText Typo="Typo.h5" Class="community-title">
                            Community Posts
                        </MudText>

                        <div class="sort-section">
                            <div class="sort-label">
                                Sort by:
                            </div>

                            <MudSelect T="string" @bind-Value="sortOption" Variant="Variant.Outlined"
                                       Class="sort-select" Dense="true">

                                <MudSelectItem Value=@("Default")>Default</MudSelectItem>
                                <MudSelectItem Value=@("Popular")>Most Popular</MudSelectItem>
                                <MudSelectItem Value=@("Recent")>Date : Recent First</MudSelectItem>
                                <MudSelectItem Value=@("Oldest")>Date : Oldest First</MudSelectItem>
                            </MudSelect>

                        </div>
                    </div>
                    @if (IsLoading)
                    {
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="postcard-margin-top">
                                <MudSkeleton Width="100%" Height="200px" Animation="Animation.Pulse" />
                            </div>
                        }
                    }
                    else if (HasError)
                    {
                        <MudPaper Class="pa-4 mt-8" Color="Color.Error" Elevation="0">
                            <MudText Typo="Typo.h6" Color="Color.Error">
                                Oops! Something went wrong while loading community posts.
                            </MudText>
                            <MudText Typo="Typo.body2">
                                Please try again later.
                            </MudText>
                        </MudPaper>
                    }
                    else if (PostList == null )
                    {
                        <MudPaper Class="pa-4 mt-8" Color="Color.Warning" Elevation="0">
                            <MudText Typo="Typo.h6" Color="Color.Warning">
                                No community posts found
                            </MudText>
                            <MudText Typo="Typo.body2">
                                There are currently no posts available. Be the first to create one!
                            </MudText>

                        </MudPaper>
                    }
                    else
                    {
                        @foreach (var post in PostList)
                        {
                            <div class="postcard-margin-top">

                                <PostCard Post="post" IsDetailView="false" />
                            </div>

                        }   }
                </MudItem>

                <!-- Right Section -->
                <MudItem xs="12" md="4">
                    <CommunityRules />

                    <MudPaper Class="newsletter-box" Elevation="1">

                        <img src="/qln-images/content/Mail.svg" alt="mail icon" class="newsletter-icon" />
                        <MudText Typo="Typo.body1" Class="newsletter-text">
                            Get The QL newsletter. Sign up to receive the top stories you need to know right now.
                        </MudText>
                        <MudForm @ref="_form">
                            @* 
                            <MudTextField T="string" Placeholder="Enter your email" Variant="Variant.Outlined"
                                          Class="newsletter-input" @bind-Value="SubscriptionModel.Email"
                                          For="@(() => SubscriptionModel.Email)"
                                          Immediate="true" /> *@
                            <input type="email"
                                   class="newsletter-input"
                                   placeholder="Enter your email"
                                   @bind="SubscriptionModel.Email"
                                   @bind:event="oninput" />
                            <MudButton Variant="Variant.Filled"
                                       Class="newsletter-button"
                                       Disabled="@IsSubscribingToNewsletter"
                                       OnClick="SubscribeAsync">
                                @if (IsSubscribingToNewsletter)
                                {
                                    <MudProgressCircular Indeterminate="true" Size="Size.Small" Class="me-2" />
                                    @("Subscribing...")
                                }
                                else
                                {
                                    @("Subscribe")
                                }
                            </MudButton>
                        </MudForm>
                    </MudPaper>


                    <MudPaper Class="ad-wrapper" Elevation="0" Square="true">
                        <MudImage Src="/qln-images/content/Ad.png" Alt="Advertisement" Class="ad-image" />
                    </MudPaper>
                </MudItem>
            </MudGrid>
            </div>

        </MudContainer>
    </div>
</div>


<style>
    .container {
        width: 100%;
        background-color: var(--color-secondary-background);
    }

    .container-inner-wrapper {
        width: 100%;
        padding: 0px 50px 50px 50px;
    }

    .section-container {
        margin-top: 40px;
    }

    .category-banner-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .category-banner-image {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
    }

    .postcard-margin-top {
        margin-top: 30px;
    }

    .community-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32px;
        margin-top: 16px;
    }

    .community-title {
        font-family: 'Public Sans';
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
    }

    .mud-select-input {
        height: 40px;
    }

    .sort-section {
        width: 300px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .sort-label {
        font-family: 'Public Sans';
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        color: #242424;
        margin-bottom: 4px;
    }

    .sort-select {
        min-width: 180px;
        background-color: #FFFFFF;
    }

    .newsletter-box {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 12px;
        margin-top: 1rem;
        max-width: 340px;
    }

    .newsletter-icon {
        width: 48px;
        height: 48px;
        margin-top: 10px;
    }

    .newsletter-text {
        font-family: 'Public Sans',sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #242424;
    }

    .newsletter-input {
        width: 292px;
        height: 44px;
        padding: 10px 16px;
        border: 1px solid #D0D5DD;
        border-radius: 6px;
    }

        .newsletter-input::placeholder {
            padding-left: 14px;
        }

    .newsletter-html-input:focus {
        border-color: #FF7F38;
    }

    .newsletter-button {
        width: 292px;
        height: 44px;
        gap: 8px;
        border-radius: 6px;
        padding: 6px 40px;
        background-color: #FF7F38;
        color: white;
        margin-top: 16px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0;
        text-transform: capitalize;
    }

    .ad-wrapper {
        padding: 0;
        margin-top: 16px;
        width: 320px;
        height: 402px;
        overflow: hidden;
    }

    .ad-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    @@media (max-width: 700px) and (min-width: 375px) {
        .container-inner-wrapper {
            padding: 0 8px 25px 8px;
        }

        .newsletter-box,
        .ad-image {
            max-width: 100%;
        }
    }

    @@media (min-width: 960px) and (max-width: 1145px) {
        .container-inner-wrapper {
            padding: 0 24px 50px 24px;
        }

        .newsletter-box {
            max-width: 100%;
            width: 100%;
            padding: 10px !important
        }
    }
</style>