@page "/content/community/post/detail/{*slug}"
@layout ContentLayout
@inherits PostDetailBase
@inject NavigationManager Navigation
@using QLN.Web.Shared.Components.BreadCrumb
@using QLN.Web.Shared.Pages.Content.Events
@using QLN.Web.Shared.Components.BannerHero
@using QLN.Web.Shared.Components.EmptyCard
@using QLN.Web.Shared.Components.AdBanner

<div class="community-container">
   <div class="post-banner-responsive-container">
               @if (isLoadingBanners)
            {
                <BannerSkleton />
            }
            else if (ContentCommunityPostHero?.Any() == true)
            {

            <BannerHero BannerItems="ContentCommunityPostHero" Loading="isLoadingBanners" />
            }
            else
            {
                <EmptyCard Title="No Banners found." Subtitle="Please check back later for updates." />
            }
              </div>
         <div class="container-inner-wrapper">
            <Breadcrumb Items="breadcrumbItems" />
            <MudGrid>
                <!-- Left Section -->
                <MudItem xs="12" md="8">
                    @if (IsLoading)
                    {
                        <MudPaper Class="pa-4">
                            <MudSkeleton Height="400px" Width="100%" Animation="Animation.Wave" />
                            <MudSkeleton Height="32px" Width="70%" Animation="Animation.Wave" Class="my-2" />
                            <MudSkeleton Height="20px" Width="90%" Animation="Animation.Wave" />
                            <MudSkeleton Height="20px" Width="80%" Animation="Animation.Wave" />
                            <MudSkeleton Height="20px" Width="60%" Animation="Animation.Wave" />
                        </MudPaper>
                    }
                    else if (HasError)
                    {
                        <EmptyCard Title="No Posts found." Subtitle="Please check back later for updates." />

                    }
                    else if (SelectedPost != null)
                    {
                        <PostCard Post="SelectedPost" IsDetailView="true" />
                        <div class="disclaimer-section">
                            <img src="qln-images/content/Warning.svg" alt="Disclaimer Icon" class="disclaimer-icon" />
                            <span class="disclaimer-text">
                                Disclaimer: <span class="disclaimer-content-text"> Community posts and comments reflect the views of users and are not published or endorsed by Qatar Living.</span>
                            </span>
                        </div>
                        <CommentSection Comment="SelectedPost" />


                    }
                    else
                    {
                        <EmptyCard Title="No Posts found." Subtitle="Please check back later for updates." />

                    }

                    
                </MudItem>

                <!-- Right Section -->
                <MudItem xs="12" md="4">
                    <div>
                        <PostList />
                    </div>
                    <div class="post-details-ad-wrapper">
                            @if (isLoadingBanners)
                            {
                                <BannerSkleton />
                            }
                            else if (CommunitySideBanners?.Any() == true)
                            {
                                <AdBanner BannerItems="CommunitySideBanners" />
                            }
                            else
                            {
                                <EmptyCard Title="No  banners found." Subtitle="Please check back later for updates." />
                            }
                        </div>
                </MudItem>
            </MudGrid>
    </div>
</div>

<style>
    .community-container {
        width: 100%;
        background-color: var(--color-secondary-background);
    }

    .container-inner-wrapper {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
        max-width: 1170px;
        margin: 0 auto;
    }
    .post-banner-responsive-container{
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
        max-width: 1170px;
        margin: 0 auto;
    }
    .disclaimer-section {
        background-color: #FFF8EC;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        margin-top:10px;
        border: 1px solid #FEF0C7;
    }


    .disclaimer-icon {
        width: 48px;
        height: 48px;
        margin-right: 12px;
        vertical-align: middle;
    }

    .disclaimer-text {
        font-family: 'Public Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }

    .disclaimer-content-text {
        font-family: 'Public Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    .category-banner-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .category-banner-image {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
    }

    .post-details-ad-wrapper {
        padding: 0;
        margin-top: 16px;
        width: 340px;
        height: 402px;
        overflow: hidden;
    }

    @@media (max-width: 700px) and (min-width: 275px) {
        .container-inner-wrapper {
            padding: 0 5px;
        }
         .post-banner-responsive-container{
             padding: 0;
        }
        .ad-image {
            max-width: 100%;
        }

        .post-details-ad-wrapper {
            padding: 0;
            margin-top: 16px;
            width: 100%;
            overflow: hidden;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }
</style>