@using MudBlazor
@using QLN.Common.DTO_s
@using QLN.Web.Shared.Components.Classifieds.FeaturedCategoryCard
@using QLN.Web.Shared.Pages.Classifieds.Skeletons
@using QLN.Web.Shared.Components.EmptyCard
@inherits FeaturedCategoriesBase

<div class="categories-wrapper">
    <div class="categories-header">
            <h3 class="section-header">Featured Categories</h3>
    </div>

    @if (Loading)
    {
     <div class="skeleton-categories-scroll-container">
        @for (int i = 0; i < 6; i++)
        {
            <FeaturedCategorySkeleton />
        }
    </div>
    }
    else if (FeaturedCategories?.Any() != true)
    {
        <EmptyCard Title="No Featured categories found." Subtitle="Please check back later or explore other categories." />
    }
    else
    {
        <div class="swiper-categories-container">
            <div class="swiper-categories swiper">
                <!-- Navigation arrows -->
                <div class="swiper-categories-button-prev arrow-button left">
                    <MudIcon Icon="@Icons.Material.Filled.ChevronLeft" />
                </div>
                <div class="swiper-categories-button-next arrow-button right">
                    <MudIcon Icon="@Icons.Material.Filled.ChevronRight" />
                </div>

                <div class="swiper-wrapper @(FeaturedCategories.Count <= 5 ? "les5swiper-wrapper" : "")">
                        <MudVirtualize Context="category" Items="FeaturedCategories">
                        <div class="swiper-slide swiper-slide-Card">
                            <FeaturedCategoryCard Item="category" OnClick="HandleCategoryClick" />
                        </div>
                     </MudVirtualize>
                </div>
                <!-- Pagination dots -->
                <div class="swiper-categories-pagination-wrapper">
                <div class="swiper-categories-pagination"></div>
                </div>
            </div>
        </div>
    }
</div>


