@using MudBlazor
@inherits SearchBarSectionBase
@using QLN.Web.Shared.Components.NewCustomSelect
@using QLN.Common.DTO_s;
        <div class="search-bar">
            <!-- Search Field -->
            <div class="search-field-container">
                <div class="search-field search-input">
                    <span class="left-icon">
                        <img src="/qln-images/content/Search.svg" alt="mail icon" class="left-search-icon" height="23" width="23"  />
                    </span>
                    <input id="search-input" type="text" placeholder="Search..." class="text-input"
                           @bind="searchText" />
                </div>
            </div>

            <!-- Category Dropdown -->
            <div class="category-field-container">
                <NewCustomSelect TItem="CategoryTreeDto" Items="@CategoryTrees" SelectedId="@selectedCategory"
                                 SelectedIdChanged="v => selectedCategory = v"  GetId="x => x.Name"
                                  GetLabel="x => x.Name"
                                 Label="Category" Placeholder="Choose" Padding="8px 10px 7.5px 10px" BorderRadius="0px" />
            </div>

            <!-- Search Button -->
            <div class="button-container">
                <button type="button" @onclick="PerformSearch" disabled="@loading" class="search-button">
                    @if (loading)
                    {
                        <span>Loading...</span>
                    }
                    else
                    {
                        <span>Show Results</span>
                    }
                </button>
            </div>
        </div>


