@inherits CollectiblesNavigationTabsBase

<h2 class="main-title-name-style">Collectibles</h2>
<MudTabs Rounded="false"
         Class="custom-tabs"
         DisableSlideAnimation="true"
         TabPanelClass="tab-panel-style"
         TextColor="Color.Default"
         IndicatorColor="Color.Primary"
         @bind-ActivePanelIndex="ActiveIndex">

    @foreach (var tab in Tabs)
    {
        <MudTabPanel Text="@tab.Title" />
    }
</MudTabs>
