@layout QLN.ContentBO.WebUI.Shared.MainLayout
@inherits LayoutComponentBase

<div class="collectibles-layout">
    <!-- Example: Shared navigation tabs for all collectibles pages -->
    <CollectiblesNavigationTabs />

    <div class="collectibles-body">
        @Body
    </div>
</div>
