@layout QLN.ContentBO.WebUI.Shared.MainLayout
@inherits LayoutComponentBase

<div class="stores-layout">
    <!-- Example: Shared navigation tabs for all item pages -->
    <StoresNavigationTabs />

    <div class="stores-body">
        @Body
    </div>
</div>
