@page "/events/details"
@using QLN.Web.Shared.Components.Carousel
@using MudBlazor
@using QLN.Web.Shared.Pages.Content.Events.EventDetails
@layout ContentLayout
@using QLN.Web.Shared.Components.BreadCrumb

<div style="width: 100%; background-color: var(--color-secondary-background);">
    <div class="responsive-container">

        <!-- Carousel Banner -->
        <CarouselBanner ImageUrls="carouselImages" ShowArrows="true" EnableSwipeGesture="false" AutoCycle="true"
            Transition="Transition.Slide" />

                <Breadcrumb Items="breadcrumbItems" />
                <EventDetailsSection />

    </div>
</div>

@code {
    private List<string> carouselImages = new()
{
"/images/banner_image.svg",
"/images/banner_image.svg",
"/images/banner_image.svg"
};
private List<QLN.Web.Shared.Components.BreadCrumb.BreadcrumbItem> breadcrumbItems = new();
     protected override void OnInitialized()
        {
            breadcrumbItems = new()
        {
            new() {   Label = "Events",Url ="/content/events" },

            new() { Label = "Name", Url = "/events/details", IsLast = true },

        };
           
        }
}

<style>
    .responsive-container {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    }

    @@media (max-width: 768px) {
        .responsive-container {
            padding: 0 16px;
        }
    }

    @@media (max-width: 480px) {
        .responsive-container {
            padding: 0 5px;
        }
    }
</style>