@layout QLN.ContentBO.WebUI.Shared.MainLayout
@inherits LayoutComponentBase

<div class="deals-layout">
    <h2 class="main-title-name-style">Deals</h2>

    <DealsNavigationTabs />

    <div class="deals-body">
        @Body
    </div>
</div>
