@page "/manage/classified/stores"
@page "/manage/classified/stores/view/subscription/listing"
@inherits ViewSubscriptionListingBase
@using QLN.ContentBO.WebUI.Models;
@using MudBlazor
@layout StoresLayout

<MudGrid Style="padding-top: 18px">
    <!-- Left Form Section -->
    <MudItem xs="12" md="12">
        <StoresSearchSortBar OnSearch="HandleSearch" OnSort="HandleSort" />
        <div class="community-table">
           <ViewSubscriptionTable 
            Listings="@Listings"
            TotalCount="@TotalCount"
            CurrentPage="@currentPage"
            PageSize="@pageSize"
            OnPageChange="HandlePageChange"
            OnPageSizeChange="HandlePageSizeChange"
             />
        </div>
    </MudItem>
</MudGrid>