@* Registration Form UI *@
@page "/register"
@page "/dropdown-demo"
@using MudBlazor
<section style="display: flex;margin: 5%;gap: 5%;">
    <div class="info-section" style="padding-left: 5%; padding-right: 5%;">
        <h3>About</h3>
        <p>In order to post classified ads on Qatar Living you have to verify your account. This is how it works:</p>
        <ul>
            <li>You must register with a mobile phone number</li>
            <li>An SMS will be sent to your phone that you have to enter on "Verify my account" page after logging in</li>
            <li>You can now post classified ads. Previously posted ads will be published within minutes.</li>
        </ul>
    </div>

    <form class="registration-form">
        <div class="form-header">   
        <h2>Create New Account</h2>
        <span class="form-subtext">log in</span>
        <span class="form-subtext">Request new Password</span>
        </div>
        <div class="text-area">  
        <label>Username *</label>
        <input type="text" class="underline-input" required />
        </div>
        <div class="text-area">  
        <label>E-mail address *</label>
        <input type="email" class="underline-input" required />
        </div>

        <div class="text-area">  
        <label>Confirm e-mail address *</label>
        <input type="email" class="underline-input" required />
        </div>
        <button type="submit">Create new account</button>
        <MudButton Color="Color.Secondary" Variant="Variant.Filled">
        Create Account
    </MudButton>
    </form>
</section>

