@inherits DailyFeaturedEventCardBase

<div class="daily-category-event-card-section" @onclick="ClickEvent">
    <div class="daily-card-contents">
        <div class="daily-category-event-image-wrapper">
            <img src="@Item.ImageUrl" alt="featured-event-img" class="daily-category-event-image" />
        </div>
        <h4 class="daily-category-event-card-title" style="text-overflow:ellipsis">@Item.Title</h4>
    </div>
</div>


<style>
    .daily-category-event-card-section {
        transition: transform 0.3s ease;
        cursor: pointer;
        padding: 0;
        width: 181px;
        height: 290px;
        font-family: 'Public Sans';
    }

    .daily-category-event-card-section:hover {
        transform: scale(1.03);
    }

    .daily-card-contents {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .daily-category-event-image-wrapper {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 8px;
    }

    .daily-category-event-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .daily-category-event-card-title {
        font-size: 18px;
        font-weight: 500;
        color: #242424;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    @@media (max-width: 768px) {

        .daily-card-contents {
            align-items: flex-start;
            text-align: left;
        }

        .daily-category-event-card-title {
            font-size: 0.85rem;
            color: #242424;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
</style>
